nav.apro-navbar
  .container-fluid
    .row.d-flex.justify-content-start.align-items-center.py-3
      // Logo section
      .col-auto
        a.logo-link(href=lang != 'en' ? `/${lang}` : '/')
          img.logo(width="150" src="/images/logo/apro-logo1.png" alt="A-Pro Logo")

      // Navigation links
      .col-auto.d-none.d-lg-block.ms-4
        ul.nav-links.list-unstyled.d-flex.mb-0
          li.nav-item
            a.nav-link(href=lang != 'en' ? `/${lang}/about` : '/about') about
          li.nav-item
            a.nav-link(href=lang != 'en' ? `/${lang}/how-it-works` : '/how-it-works') how it works
          li.nav-item
            a.nav-link(href=lang != 'en' ? `/${lang}/pricing` : '/pricing') pricing
          li.nav-item
            a.nav-link(href='https://blog.apromarketing.com' target='_blank' rel='noopener noreferrer') blog
          li.nav-item
            a.nav-link(href=lang != 'en' ? `/${lang}/socials` : '/socials') socials

style.
  .apro-navbar {
    background-color: #ffffff;
    border-bottom: 3px solid #00d4a3;
    position: relative;
    z-index: 1000;
  }


  .nav-links {
    gap: 2rem;
  }

  .nav-item {
    margin: 0;
  }

  .nav-link {
    color: #000000;
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    transition: all 0.3s ease;
    border-bottom: 2px solid transparent;
    padding-bottom: 2px;
  }

  .nav-link:hover {
    color: #000000;
    text-decoration: underline;
    border-bottom-color: #000000;
  }

  .logo-link {
    text-decoration: none;
    color: inherit;
  }

  .logo-link:hover {
    text-decoration: none;
    color: inherit;
  }

script.
  document.addEventListener('DOMContentLoaded', function() {
    // Simple navigation handling - all navbar links now go to separate pages
    // No special handling needed since all links are standard page navigation
  });