extends layout
block append head
  title= t('homePageMeta.title')
  meta(name='description', content=t('homePageMeta.description'))
  link(rel='canonical', href=`https://apromarketing.com`+(lang != 'en' ? '/' + lang : '') + `/`)
  meta(name="keywords", content=t('homePageMeta.keywords'))
  meta(name='robots', content='index, follow')
  meta(property='og:title', content=t('homePageMeta.title'))
  meta(property='og:description', content=t('homePageMeta.description'))
  meta(property='og:url', content=`https://apromarketing.com`+(lang != 'en' ? '/' + lang : '') + `/`)
  meta(property='og:image', content=`https://apromarketing.com/images/homepageImg.png`)
  meta(property='og:image:width', content='1200')
  meta(property='og:image:height', content='630')
  meta(property='og:type', content='website')
  meta(property='og:locale', content=lang)

block content
  link(rel="stylesheet" href="/css/pages/index.css")
  .container
    section.hero-section
      .row
        .col-lg-6.col-sm-12.text-center
          h1.poppins-bold Your AI Digital Marketer
            br
            //- span.green-underline A Pro!
          h2.text-center.poppins-bold.q-mb-lg Meet Jade, your always-on <br> AI digital marketer
        .col-lg-6.offset-lg-0.col-md-8.offset-md-2.col-sm-12.offset-sm-0.mt-sm-5.text-center
          h2.mb-5.poppins-bold.q-mb-lg Analyze → Strategize → Schedule → Post <br> <br> Jade helps you grow automatically, intelligently, and affordably.
          input.mb-5.col-md-6.col-sm-12(type="text" placeholder="Enter your website URL")
          br
          a.btn-primary.cta-btn(style="background:white;color:black;" href=`` hx-boost="true")
            img(style="width:35px;height:35px" width="35" src="/images/icons/apro-star1.png" alt="star")
            span(style="text-transform: uppercase;") Try it out
          //- img(src="/images/homepageImg.png" alt="A-Pro Hero image" width="100%")
    .mt-3
      h2.poppins-bold.text-center(style="font-size:60px") How It Works
      .row
        .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.mb-3.px-2
          .articles.card.flex.column.justify-between.blog-article(class='animation-delay-0', style="height: 100%")
            .how-it-works-icon
              img(src="/images/icons/home/brain.webp" alt="Brain Icon" style="width:100px;")
            .article-content
              h3.q-px-sm.q-pt-sm.ellipsis-2-lines.text-left Automated Strategy, Tailored to You
              .green-line
              .flex.justify-content-between.align-items-center(style="margin-bottom: 20px;")
              .text-body1
                |Jade analyzes your website, brand, market, and competitors to understand your business.  
                br
                br
                |No generic templates.  Your strategy is crafted from your actual business data.
        .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.mb-3.px-2
          .articles.card.flex.column.justify-between.blog-article(class='animation-delay-0', style="height: 100%")
            .how-it-works-icon
              img(src="/images/icons/home/campaign.webp" alt="Brain Icon" style="width:100px;")
            .article-content
              h3.q-px-sm.q-pt-sm.ellipsis-2-lines.text-left Campaign Creation & Content Production
              .green-line
              .flex.justify-content-between.align-items-center(style="margin-bottom: 20px;")
              .text-body1
                |Get complete campaigns with content schedules, ready to publish.
                br
                br
                |Jade factors in holidays, events, and industry trends, creating content your audience actually cares about.
        .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.mb-3.px-2
          .articles.card.flex.column.justify-between.blog-article(class='animation-delay-0', style="height: 100%")
            .how-it-works-icon
              img(src="/images/icons/home/paper.webp" alt="Brain Icon" style="width:100px;")
            .article-content
              h3.q-px-sm.q-pt-sm.ellipsis-2-lines.text-left Multi-Channel Posting & Analytics
              .green-line
              .flex.justify-content-between.align-items-center(style="margin-bottom: 20px;")
              .text-body1
                |Approve your posts, and Jade handles the rest.
                br
                br
                |She publishes to the desired platform, tracking performance so you always know what’s working.
        .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.mb-3.px-2
          .articles.card.flex.column.justify-between.blog-article(class='animation-delay-0', style="height: 100%")
            .how-it-works-icon
              img(src="/images/icons/home/jade.webp" alt="Brain Icon" style="width:100px;")
            .article-content
              h3.q-px-sm.q-pt-sm.ellipsis-2-lines.text-left Human Digital Marketers Included
              .green-line
              .flex.justify-content-between.align-items-center(style="margin-bottom: 20px;")
              .text-body1
                |AI does the heavy lifting; humans ensure quality.
                br
                br
                |For advanced needs, our expert digital marketers provide white-glove service, review your content, and guide your growth.
      //- .row.mt-5
        .col-12.justify-content-center.text-center.d-flex
          //- a( href="https://cta-na2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLKcOLzO%2BF4snjmbHALdKnIdllat3XLN4d9tL0LjJtZqVQViQjeN8W4zKzUmHhkImwuOY45IAxzcfe9D3%2B6vqb5%2FGjd1j2sJI5DA8iSOSMRFOJIpDY1kuZvPsvRcVqxavqaT4Qo8oZCwUFNCtmdvnhAD5T7zY48G1VnHAd8C0IqIgrZI9e6dlibhDgOHeBc8FIdike9PEA%3D%3D&webInteractiveContentId=201143666368&portalId=242233801" target="_blank" rel="noopener" crossorigin="anonymous")
          a( href="https://meetings-na2.hubspot.com/aaron-krygier" target="_blank" rel="noopener" crossorigin="anonymous")
            .btn-primary.cta-btn.hs-cta-embed.hs-cta-simple-placeholder.hs-cta-embed-201143666368(style="background:white;color:black;" data-hubspot-wrapper-cta-id="201143666368" )
              img(style="transform:none; width:35px;height:35px" width="35" src="/images/icons/calendar.svg" alt="calendar")
              span=t('bookDemo')
              //- img( alt="Book a Demo" loading="lazy" src="https://hubspot-no-cache-na2-prod.s3.amazonaws.com/cta/default/242233801/interactive-201143666368.png" style="height: 100%; width: 100%; object-fit: fill"
                onerror="this.style.display='none'" )


    //- include components/features-overview
    //- .row.justify-center
      a.btn-lg.btn-primary.cta-btn(href=`https://app.a-pro.ai/register?lang=${lang}` hx-boost="true")
        img(src="/icons/apro-star1.png" alt="star")
        span= t('homeHeroBtn')
block append scripts
  script.
    
  script(src="/js/lazy-sizes.js" async="")
  script(type="application/ld+json").
    !{JSON.stringify(jsonLD, null, 2)}
block append styles
  link(rel="stylesheet" href="/css/pages/blogList.css")
  style.
    input{
      padding:15px 20px;
      border:solid black 2px;
    }
    .how-it-works-icon{
      width:150px; 
      height:150px; 
      margin: 20px auto 0px auto;
      border-radius:50%; 
      overflow:hidden; 
      display:flex; 
      align-items:center; 
      justify-content:center; 
      border:15px solid #0fffad; 
      outline:black solid 5px;
    }