extends layout
block append head
  title= t('homePageMeta.title')
  meta(name='description', content=t('homePageMeta.description'))
  link(rel='canonical', href=`https://a-pro.ai`+(lang != 'en' ? '/' + lang : '') + `/`)
  meta(name="keywords", content=t('homePageMeta.keywords'))
  meta(name='robots', content='index, follow')
  meta(property='og:title', content=t('homePageMeta.title'))
  meta(property='og:description', content=t('homePageMeta.description'))
  meta(property='og:url', content=`https://a-pro.ai`+(lang != 'en' ? '/' + lang : '') + `/`)
  meta(property='og:image', content=`https://a-pro.ai/images/homepageImg.png`)
  meta(property='og:image:width', content='1200')
  meta(property='og:image:height', content='630')
  meta(property='og:type', content='website')
  meta(property='og:locale', content=lang)

block content
  link(rel="stylesheet" href="/css/pages/index.css")
  .container
    section.hero-section
      .row
        .col-lg-6.col-sm-12.text-center
          h1.poppins-bold #{t('homeHeroTitle')} 
            br
            //- span.green-underline A Pro!
          h2.poppins-bold.q-mb-lg= t('homeHeroSubTitle')        
          a.btn-primary.cta-btn(style="background:white;color:black;" href=`https://app.a-pro.ai/register?lang=${lang}` hx-boost="true")
            img(style="width:35px;height:35px" width="35" src="/images/icons/apro-star1.png" alt="star")
            span(style="text-transform: uppercase;")= t('homeHeroBtn')
        .col-lg-6.offset-lg-0.col-md-8.offset-md-2.col-sm-12.offset-sm-0.mt-sm-5.text-center
          input.col-md-6.col-sm-12(type="text" placeholder="Enter your website URL")
          br
          button.mt-3.col-md-3.col-sm-10.btn-primary.cta-btn(type="button")= t('homeHeroBtn')

          img(src="/images/homepageImg.png" alt="A-Pro Hero image" width="100%")
    .mt-3
      .text-h1.text-center= t('whatYouCanDo')
      .row
        .col-12   
          .card-section
            .row.align-items-center
              .col-lg-5.offset-lg-0.col-md-8.offset-md-2.col-sm-12.offset-0.dash-card
                h3.line-after.poppins-bold How it works
                .row.text-center
                  .col-lg-6.col-md-6.col-12.flex.align-items-center.flex-column
                    img.icon(src="/images/icons/stack-up.webp" alt="Stack Up Icon" width="75")
                    .text-center
                      h6.q-my-sm.poppins-bold #{ t('featuresOverviewFeature1') }
                      p #{ t('featuresOverviewDescription1') }
                  .col-lg-6.col-md-6.col-12.flex.align-items-center.flex-column
                    img.icon(src="/images/icons/serp.webp" alt="Search Engine Icon" width="75")
                    .text-center
                      h6.q-my-sm.poppins-bold #{ t('featuresOverviewFeature2') }
                      p #{ t('featuresOverviewDescription2') }                        
                  .col-lg-6.col-md-6.col-12.flex.align-items-center.flex-column
                    img.icon(src="/images/icons/lightbulb.webp" alt="Lightbulb Icon" width="75")
                    .text-center
                      h6.q-my-sm.poppins-bold #{ t('featuresOverviewFeature3') }
                      p #{ t('featuresOverviewDescription3') }
                  .col-lg-6.col-md-6.col-12.flex.align-items-center.flex-column
                    img.icon(src="/images/icons/briefcase.webp" alt="Briefcase Icon" width="75")
                    .text-center
                      h6.q-my-sm.poppins-bold #{ t('featuresOverviewFeature4') }
                      p #{ t('featuresOverviewDescription4') }            
              .col-lg-7.offset-lg-0.col-md-8.offset-md-2.col-12.mt-md-3.mt-sm-3.mt-3
                video(autoplay loop muted playsinline width="100%" height="100%" alt="a-pro article guide" src="/videos/apro-article-guide.mp4")
      .row.mt-5
        .col-12.justify-content-center.text-center.d-flex
          //- a( href="https://cta-na2.hubspot.com/web-interactives/public/v1/track/redirect?encryptedPayload=AVxigLKcOLzO%2BF4snjmbHALdKnIdllat3XLN4d9tL0LjJtZqVQViQjeN8W4zKzUmHhkImwuOY45IAxzcfe9D3%2B6vqb5%2FGjd1j2sJI5DA8iSOSMRFOJIpDY1kuZvPsvRcVqxavqaT4Qo8oZCwUFNCtmdvnhAD5T7zY48G1VnHAd8C0IqIgrZI9e6dlibhDgOHeBc8FIdike9PEA%3D%3D&webInteractiveContentId=201143666368&portalId=242233801" target="_blank" rel="noopener" crossorigin="anonymous")
          a( href="https://meetings-na2.hubspot.com/aaron-krygier" target="_blank" rel="noopener" crossorigin="anonymous")
            .btn-primary.cta-btn.hs-cta-embed.hs-cta-simple-placeholder.hs-cta-embed-201143666368(style="background:white;color:black;" data-hubspot-wrapper-cta-id="201143666368" )
              img(style="transform:none; width:35px;height:35px" width="35" src="/images/icons/calendar.svg" alt="calendar")
              span=t('bookDemo')
              //- img( alt="Book a Demo" loading="lazy" src="https://hubspot-no-cache-na2-prod.s3.amazonaws.com/cta/default/242233801/interactive-201143666368.png" style="height: 100%; width: 100%; object-fit: fill"
                onerror="this.style.display='none'" )
    .mt-5
      section.blog.q-pa-md
        .text-h1.roboto.text-center=t('latestArticles')
        .q-my-md
          .container
            //- h2.text-center=t('articlesSubtitle')
            if articles.length === 0
              .row.justify-center.mt-5
                .col-12.text-center
                  h3.q-my-md= t('noArticlesFound')
            else
              .row.mt-5.justify-content-center
                each article, i in articles
                  .col-12.col-sm-6.col-md-4.col-lg-4.col-xl-3.mb-3.px-2( style=('view-transition-name:' + article.slug) )
                    a(href=(lang != 'en' ? '/' + lang : '') + '/article/' + article.slug)
                      .articles.card.flex.column.justify-between.blog-article(class='animation-delay-' + i, style="height: 100%")
                        .article-title
                          img.blur-up.lazyload( data-src=article.medImg loading="lazy" alt=article.imgAlt)
                        .article-content
                          h3.q-px-sm.q-pt-sm.ellipsis-2-lines.text-left!= article.title
                          .green-line
                          .flex.justify-content-between.align-items-center(style="margin-bottom: 20px;")
                            .flex.align-items-center
                              .avatar
                                img.blur-up.lazyload(src=article.authorImg loading="lazy")
                              .text-subtitle2 #{article.author}
                            b.text-subtitle2 #{article.date}
                          a(href=(lang != 'en' ? '/' + lang : '') + '/article/' + article.slug)
                            .text-body1(style="display: -webkit-box; -webkit-line-clamp: 3; -webkit-box-orient: vertical; overflow: hidden; text-overflow: ellipsis;")!= article.summary
                .row.justify-content-end               
                  .btn(style="width:300px;")
                    a.btn-primary.cta-btn(style="padding:5px 10px;background:white;color:black;" href=(lang != 'en' ? '/' + lang : '') + '/articles/all/1')
                      img(style="width:25px;height:25px;" width="25" src="/images/icons/apro-star1.png" alt="star")
                      span(style="text-transform: uppercase;")= t('more')

    //- include components/features-overview
    //- .row.justify-center
      a.btn-lg.btn-primary.cta-btn(href=`https://app.a-pro.ai/register?lang=${lang}` hx-boost="true")
        img(src="/icons/apro-star1.png" alt="star")
        span= t('homeHeroBtn')
block append scripts
  script.
    
  script(src="/js/lazy-sizes.js" async="")
  script(type="application/ld+json").
    !{JSON.stringify(jsonLD, null, 2)}
block append styles
  link(rel="stylesheet" href="/css/pages/blogList.css")