extends layout
block append head
  title= t('pricingMeta.title')
  meta(name='description', content=t('pricingMeta.description'))
  link(rel='canonical', href=`https://a-pro.ai`+(lang != 'en' ? '/' + lang : '') + `/pricing`)
  meta(name="keywords", content=t('pricingMeta.keywords'))
  meta(name='robots', content='index, follow')
  meta(property='og:title', content=t('pricingMeta.title'))
  meta(property='og:description', content=t('pricingMeta.description'))
  meta(property='og:url', content=`https://a-pro.ai`+(lang != 'en' ? '/' + lang : '') + `/pricing`)
  meta(property='og:image', content=`https://a-pro.ai/images/backgrounds/pricing-hero.jpg`)
  meta(property='og:image:width', content='1200')
  meta(property='og:image:height', content='630')
  meta(property='og:type', content='website')
  meta(property='og:locale', content=lang)
block content
  - const yearly = false;
  div
    section.pricing
      .row(style="width:100%;").justify-content-center
        .col-xl-10.col-lg-12.px-5
          h1.text-center #{t('pricing') }
          h2!=t('pricingH1')
          .row
            .col-12
              .mt-3
                h4 #{t('pricingH2')}
            //- h5 
              | #{t('oneMoPromo1')}
              span(style="color:red; display:inline; font-size:28px;") APRO24 
              |  #{t('oneMoPromo2')} #{t('cancelAnytime')}.
          .row.justify-content-center.mt-5
            .col-12.flex.justify-content-end
              span.currency-btn(
                hx-get=`/${lang}/pricing/usd`,
                hx-target=".pricing-wrap",
                hx-swap="innerHTML"
              ) USD
              span.currency-btn(
                hx-get=`/${lang}/pricing/ntd`,
                hx-target=".pricing-wrap",
                hx-swap="innerHTML"
              ) NTD
              
            .pricing-wrap.row
              if currency == 'usd'
                each item, i in pricingPlans
                  .col-lg-3.col-sm-6.col-md-4.mb-5(class=item.bg)
                    .pricing-card(class='animation-delay-' + i, style="height:100%; overflow:hidden; background-color:" + item.bg)
                      if item.ribon
                        .billing-ribon.rotate-45 #{t(item.ribon)}
                      .card-section.text-center
                        h2.poppins-bold
                          b #{t(item.title)}
                        .space-x-4.text-center.relative.flex.justify-content-center.align-items-center
                          span.text-bold(style="font-size:32px;") #{yearly ? t(item.price_Yearly) : t(item.price_Monthly)}
                          if !item.contactUs
                            span.text-bold.text-body2 #{t(item.price_unit)} / #{ t('month') }
                          else 
                            span.text-bold.text-body2 / #{ t('month') }
                          if yearly
                            span.text-right.bg-white.q-px-sm.q-ml-sm.text-bold.rounded #{t(item.savings)}
                      .card-section.price-body.text-center
                        p #{t(item.description)}
                        - var j = 1;
                        while j < item.features
                          .text-h6(style="margin:15px 0;")
                            b #{t('tier' + (i+1) + '.tier' + (i+1) + '_feature' + j)}
                            br
                          - j++
                        .text-center(style="margin-top: 40px;")
                          if !item.contactUs
                            a.q-mt-lg.btn-primary.cta-btn(href="https://app.a-pro.ai/register?lang=" + lang)                            
                              img(src="/icons/apro-star1.png", alt="icon")
                              span.q-ml-sm #{t('homeHeroBtn')}
                          else
                            a.q-mt-lg.btn-primary.cta-btn(href=(lang != 'en' ? "https://a-pro.ai/" + lang + "/contact" : "https://a-pro.ai/contact"))
                              img(src="/icons/apro-star1.png", alt="icon")
                              span #{t('contactUs')}
                              if pricingPlans
              if currency == 'ntd'                
                each item, i in pricingPlans
                  .col-12.col-sm-6.col-md-3(class=item.bg)
                    .pricing-card(class='animation-delay-' + i, style="height:100%; overflow:hidden; background-color:" + item.bg)
                      if item.ribon
                        .billing-ribon.rotate-45 #{t(item.ribon)}
                      .card-section.text-center
                        h2.poppins-bold
                          b #{t(item.title)}
                        .space-x-4.text-center.relative.flex.justify-content-center.align-items-center
                          span.text-bold(style="font-size:32px;") #{yearly ? t(item.price_Yearly_NTD) : t(item.price_Monthly_NTD)}
                          if !item.contactUs
                            span.text-bold.text-body2 #{t(item.price_unit_NTD)} / #{ t('month') }
                          else 
                            span.text-bold.text-body2 / #{ t('month') }
                          if yearly
                            span.text-right.bg-white.q-px-sm.q-ml-sm.text-bold.rounded #{t(item.savings)}
                      .card-section.price-body.text-center
                        p #{t(item.description)}
                        - var j = 1;
                        while j < item.features
                          .text-h6(style="margin:15px 0;")
                            b #{t('tier' + (i+1) + '.tier' + (i+1) + '_feature' + j)}
                            br
                          - j++
                        .text-center(style="margin-top: 40px;")
                          if !item.contactUs
                            a.q-mt-lg.btn-primary.cta-btn(href="https://app.a-pro.ai/register?lang=" + lang)                            
                              img(src="/icons/apro-star1.png", alt="icon")
                              span.q-ml-sm #{t('homeHeroBtn')}
                          else
                            a.q-mt-lg.btn-primary.cta-btn(href=(lang != 'en' ? "https://a-pro.ai/" + lang + "/contact" : "https://a-pro.ai/contact"))
                              img(src="/icons/apro-star1.png", alt="icon")
                              span #{t('contactUs')}

block append scripts
  - var hasPart = pricingPlans.map(function(plan) {return {"@type": "Offer", "name": t(plan.title), "description": t(plan.description), "price": yearly ? t(plan.price_Yearly) : t(plan.price_Monthly), "priceCurrency": currency === 'usd' ? "USD" : "NTD"};});
  script(type="application/ld+json").
    {
      "@context": "https://schema.org",
      "@type": "Product",
      "name": "#{t('pricingMeta.title')}",
      "description": "#{t('pricingMeta.description')}",
      "url": "https://a-pro.ai#{lang != 'en' ? '/' + lang : ''}/pricing",
      "offers": !{JSON.stringify(hasPart)}
    }

block append styles
  link(rel="stylesheet" href="/css/pages/pricing.css")
  style.
    .card-section{
      padding:20px 0;
    }
    .pricing-card h2{
      font-size: 1.7rem;
      line-height: 1.2;
    }